#alt-alerta-flutuante .close {
  font-size: 31px;
  position: absolute;
  top: 0;
  right: 7px;
}

#alt-alerta-flutuante .alert {
  padding: 15px 15px 20px 15px;
}

#alt-alerta-flutuante-blanket {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9998;
  opacity: .3;
}

#alt-alerta-flutuante-tempo {
  position: absolute;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c56666;
  bottom: 0;
  left: 0;
  transition: width ease;
  will-change: width;
}

.alt-alerta-flutuante {
  position: fixed;
  width: 90%;
  left: 5%;
  top: 80px;
  font-size: 17px;
  z-index: 9999;
}

@media(min-width: 50em) {
  .alt-alerta-flutuante {
    width: 40%;
    left: 30%;
  }
}
